<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<table border='1'>
  <tbody>
  <tr>
    <th>이메일</th>
    <td><input type="text" data-th-value='*{member.email}' name="email" readonly/></td>
  </tr>
  <tr>
    <th>이름</th>
    <td><input type="text" data-th-value='*{member.name}' name="name" /></td>
  </tr>
  <tr>
    <th>가입일</th>
    <td ><input type="text" data-th-value="${#dates.format(member.createdDate,'yyyy-MM-dd')}" name="createdDate" readonly/></td>
  </tr>
  <tr>
    <th>사진</th>
    <td>
      <img data-th-if="*{member.photo}"
           data-th-src="@{'https://rljiyddk2675.edge.naverncp.com/68i0l8DhXa/member/' + *{member.photo}(type=f,w=20,h=20,ttype=jpg)}"
           src="/img/default-photo.jpeg">
      <img data-th-unless="*{member.photo}" height='20px' src='/img/default-photo.jpeg'>
    </td>
  </tr>
  </tbody>
</table>

<a data-th-href="@{/member/update}" href="update">저장</a>
</body>
</html>