<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h2>내 정보</h2>
<form action="" data-th-action="@{myinfoUpdate}" data-th-object="${member}"
      enctype='multipart/form-data'
      method='post'>
  <table border='1'>
    <tbody>
    <tr>
      <th>사진</th>
      <td>
        <a data-th-unless="*{photo}" href='/img/default-photo.jpeg'>
          <img height='80px' src='/img/default-photo.jpeg'></a><br>
        <input name='file' type='file'>
      </td>
    </tr>
    <tr>
    <th>이메일</th>
      <td><input type="text" data-th-value='*{email}' name="email" /></td>
  </tr>
  <tr>
    <th>이름</th>
    <td><input type="text" data-th-value='*{name}' name="name" /></td>
  </tr>
  <tr>
    <th>가입일</th>
    <td ><input type="text" data-th-value="${#dates.format(member.createdDate,'yyyy-MM-dd')}" readonly/></td>
  </tr>
  </tbody>
</table>
  <button>정보 저장</button>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>
</body>
</html>